header {
    background-color: #030712;
}

.header_row {
    justify-content: space-between;
    display: flex;
    color: #F9FAFB;
    font-family: Inter;
    padding-top: 16px;
}

.logo {
    padding-left: 112px;
}

.header_row p {
    color: #1F2937;
    padding-right: 24px;
}

.header_button1 {
    padding-right: 16px;
}

.header_button2 {
    width: 136px;
    height: 36px;
    padding: 6px 16px 6px 16px;
    gap: 8px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #F9FAFB;
    color: #111827;
}

.header_row ul {
    display: flex;
    gap: 24px;
    padding-right: 24px;
}

.header_navigation {
    display: flex;
    padding-right: 112px;
    align-items: center;
}

.menu_icon {
    display: none;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_main_text {
    padding-left: 112px;
    padding-top: 122px;
}

.header_main_text h1 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
}

.header_main_text p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
}

.geo {
    padding-left: 112px;
    padding-top: 48px;
}

.russia {
    display: flex;
}

.russia p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
    margin-left: 8px;
}

.new_projects {
    display: flex;
    padding-bottom: 8px;
}

.new_projects p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
    margin-left: 8px;
}

.socials {
    display: flex;
    align-items: center;
    padding-top: 48px;
    padding-left: 112px;
    gap: 4px;
    padding-bottom: 106px;
}

.my_photo {
    width: 280px;
    height: 320px;
    margin-right: 152px;
}

.main {
    background-color: #111827;
}

.about_me {
    width: 105px;
    height: 28px;
    padding: 4px 20px 4px 20px;
    border-radius: 12px;
    color: #D1D5DB;
    font-family: Inter;
    background-color: #374151;
}

.about_me h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    height: 100px;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 96px;
}

.wrapper_skills {
    display: flex;
    justify-content: center;
}

.main_about_me {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.my_photo2 {
    width: 400px;
    height: 800px;
    margin-bottom: 20px;
}

.main_about_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D1D5DB;
}

.main_skills {
    height: 560px;
    background-color: #030712;
}

.technologies {
    display: flex;
    font-family: Inter;
    color: #D1D5DB;
    flex-direction: column;
    align-items: center;
}

.skills {
    background-color: #374151;
    width: 75px;
    height: 28px;
    padding: 4px 20px 4px 20px;
    border-radius: 12px;
}

.skills_items {
    display: flex;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #D1D5DB;
    width: 1280px;
    gap: 86px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
}

.skills_items div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills_items p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #D1D5DB;
}

.technologies p {
    font-size: 20px;
    padding-top: 16px;
}

.main_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exp {
    display: flex;
    font-family: Inter;
    color: #D1D5DB;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
}

.experience {
    border-radius: 12px;
    background-color: #374151;
    font-size: 14px;
    padding: 4px 20px 4px 20px;
    height: 28px;
    width: 115px;
}

.experience h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #D1D5DB;
}

.exp p {
    margin-top: 16px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.main_info {
    display: flex;
    margin-top: 48px;
    background-color: #1F2937;
    width: 896px;
    border-radius: 12px;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main_info img {
    height: 28px;
}

.main_info ul {
    padding-top: 16px;
    width: 384px;
    padding-left: 20px;
}

.main_info li {
    list-style-type: circle;
}

.main_text_sec1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D1D5DB;
}

.developer {
    font-family: Inter;
    color: #F9FAFB;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.data {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F9FAFB;
}

.main_experience div:nth-of-type(4) {
    margin-bottom: 96px;
}

.main_work {
    display: flex;
    height: 1848px;
    background-color: #030712;
    flex-direction: column;
    align-items: center;
}

.text_main_work {
    border-radius: 12px;
    background-color: #374151;
    font-size: 14px;
    padding: 4px 20px 4px 20px;
    height: 28px;
    width: 75px;
}

.sect1 {
    width: 1152px;
    height: 480px;
    border-radius: 12px;
    box-shadow: 0px 25px 25px 0px #00000026;
}

.sect1_1 {
    background-color: Gray/Dark/200;
    width: 576px;
    height: 480px;
}

@media (max-width: 800px) {
    .header_main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header_main_text h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .header_navigation {
        display: none;
    }

    .menu_icon {
        display: block;
        padding-right: 16px;
    }

    .logo {
        padding-left: 16px;
    }

    .socials {
        padding-bottom: 64px;
        padding-left: 16px;
    }

    .header_main_text {
        padding-left: 16px;
    }

    .geo {
        padding-left: 16px;
    }

    .my_photo {
        margin-right: 0px;
        margin-top: 64px;
        width: 240px;
        height: 280px;
        border: 8px;
    }

    .my_photo2 {
        width: 280px;
        height: 560px;
    }

    .main_about_me {
        width: auto;
        flex-direction: column;
        justify-content: center;
    }
}