header {
    background-color: #030712;
}

.header_row {
    justify-content: space-between;
    display: flex;
    color: #F9FAFB;
    font-family: Inter;
    padding-top: 16px;
}

.logo {
    padding-left: 112px;
}

.header_row p {
    color: #1F2937;
    padding-right: 24px;
}

.header_button1 {
    padding-right: 16px;
}

.header_button2 {
    width: 136px;
    height: 36px;
    padding: 6px 16px 6px 16px;
    gap: 8px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #F9FAFB;
    color: #111827;
}

.header_row ul {
    display: flex;
    gap: 24px;
    padding-right: 24px;
}

.header_navigation {
    display: flex;
    padding-right: 112px;
    align-items: center;
}

.menu_icon {
    display: none;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_main_text {
    padding-left: 112px;
    padding-top: 122px;
}

.header_main_text h1 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
}

.header_main_text p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
}

.geo {
    padding-left: 112px;
    padding-top: 48px;
}

.russia {
    display: flex;
}

.russia p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
    margin-left: 8px;
}

.new_projects {
    display: flex;
    padding-bottom: 8px;
}

.new_projects p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    color: #F9FAFB;
    margin-left: 8px;
}

.socials {
    display: flex;
    align-items: center;
    padding-top: 48px;
    padding-left: 112px;
    gap: 4px;
    padding-bottom: 106px;
}

.my_photo {
    width: 280px;
    height: 320px;
    margin-right: 152px;
}

.main {
    background-color: #111827;
}

.about_me {
    height: 28px;
    padding: 4px 20px 4px 20px;
    border-radius: 12px;
    color: #D1D5DB;
    font-family: Inter;
    background-color: #374151;
}

.about_me h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    height: 100px;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 96px;
}

.wrapper_skills {
    display: flex;
    justify-content: center;
}

.main_about_me {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.my_photo2 {
    width: 400px;
    height: 800px;
    margin-bottom: 20px;
}

.main_about_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D1D5DB;
}

.main_skills {
    background-color: #030712;
}

.technologies {
    display: flex;
    font-family: Inter;
    color: #D1D5DB;
    flex-direction: column;
    align-items: center;
}

.skills {
    background-color: #374151;
    height: 28px;
    padding: 4px 20px 4px 20px;
    border-radius: 12px;
}

.skills_items {
    display: flex;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #D1D5DB;
    width: 1280px;
    gap: 86px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 96px;
}

.skills_items div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills_items p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #D1D5DB;
}

.technologies p {
    font-size: 20px;
    padding-top: 16px;
}

.main_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exp {
    display: flex;
    font-family: Inter;
    color: #D1D5DB;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
}

.experience {
    border-radius: 12px;
    background-color: #374151;
    font-size: 14px;
    padding: 4px 20px 4px 20px;
    height: 28px;
    width: 115px;
}

.experience h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #D1D5DB;
}

.exp p {
    margin-top: 16px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.main_info {
    display: flex;
    margin-top: 48px;
    background-color: #1F2937;
    width: 896px;
    border-radius: 12px;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main_info img {
    height: 28px;
}

.main_info ul {
    padding-top: 16px;
    width: 384px;
    padding-left: 20px;
}

.main_info li {
    list-style-type: circle;
}

.main_text_sec1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D1D5DB;
}

.developer {
    font-family: Inter;
    color: #F9FAFB;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.main_experience_adaptive_reverse {
    display: flex;
    gap: 42px;
}

.data {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F9FAFB;
}

.data2 {
    display: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F9FAFB;
}

.data3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F9FAFB;
}

.main_experience div:nth-of-type(4) {
    margin-bottom: 96px;
}

.main_work {
    display: flex;
    background-color: #030712;
    flex-direction: column;
    align-items: center;
}

.text_main_work {
    border-radius: 12px;
    background-color: #374151;
    font-size: 14px;
    padding: 4px 20px 4px 20px;
    width: 75px;
}

.sect1 {
    padding-top: 48px;
    width: 1152px;
    height: 480px;
    box-shadow: 0px 25px 25px 0px #00000026;
    display: flex;
    font-family: Inter
}


.sect1_1 {
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    background-color: #374151;
    width: 576px;
    height: 480px;
}

.sect1_1 img {
    margin-top: 48px;
    height: 384px;
    width: 480px;
}

.sect1_2 {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 48px;
    border-radius: 0px 12px 12px 0px;
    color: #D1D5DB;
    width: 576px;
    height: 480px;
    background-color: #1F2937;
}

.sect1_2 h2 {
    font-size: 20px;
}

.sect1_2 p {
    font-size: 16px;
}

.sect2_2 p {
    font-size: 16px;
}

.main_project_stack {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    gap: 8px;
}

.sect1_2 img {
    width: 36px;
    height: 36px;
}

.sect2 {
    flex-direction: row-reverse;
    padding-top: 96px;
    width: 1152px;
    height: 480px;
    box-shadow: 0px 25px 25px 0px #00000026;
    display: flex;
    font-family: Inter
}

.sect2_1 {
    border-radius: 0px 12px 12px 0px;
    display: flex;
    justify-content: center;
    background-color: #374151;
    width: 576px;
    height: 480px;
}

.sect2_1 img {
    margin-top: 48px;
    height: 384px;
    width: 480px;
}

.sect2_2 {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 48px;
    border-radius: 12px 0px 0px 12px;
    color: #D1D5DB;
    width: 576px;
    height: 480px;
    background-color: #1F2937;
}

.sect2_2 h2 {
    font-size: 20px;
}


.sect2_2 img {
    width: 36px;
    height: 36px;
}

.sect3 {
    padding-bottom: 96px;
    padding-top: 144px;
    width: 1152px;
    box-shadow: 0px 25px 25px 0px #00000026;
    display: flex;
    font-family: Inter
}

.sect3_1 {
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    background-color: #374151;
    width: 576px;
    height: 480px;
}

.sect3_1 img {
    margin-top: 48px;
    height: 384px;
    width: 480px;
}

.sect3_2 {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 48px;
    border-radius: 0px 12px 12px 0px;
    color: #D1D5DB;
    width: 576px;
    height: 480px;
    background-color: #1F2937;
}

.sect3_2 h2 {
    font-size: 20px;
}

.sect3_2 p {
    font-size: 16px;
}

.sect3_2 img {
    width: 36px;
    height: 36px;
}

.project_stack_item {
    height: 28px;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
    border-radius: 12px;
    background-color: #374151;
}

.project_stack_item p {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #D1D5DB;
}

.Testimonials {
    font-family: Inter;
    color: #D1D5DB;
    height: 740px;
    background-color: #111827;
}

.test {
    height: 28px;

    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
    border-radius: 12px;
    background-color: #374151;
    font-size: 14px;
}

.Testimonials h3 {
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
}

.sections {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    gap: 48px;
}


.section1 {
    padding-left: 112px;
    width: 373px;
    height: 428px;
    min-width: 300px;
    gap: 24px;
    border-radius: 12px;
    padding: 48px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

}

.img_section1 {
    display: flex;
    justify-content: center;
}

.text_section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.John_Doe {
    padding-top: 24px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.founders {
    padding-top: 4px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

footer {
    height: 560px;
    background-color: #030712;
}

.footer_main {
    font-family: Inter;
    color: #D1D5DB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platforms {
    padding-top: 48px;
}

.platformss {
    padding-top: 8px;
    display: flex;
    align-items: center;
}

.wrapper h2 {
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;

}

.what {
    padding-top: 16px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.get_in_touch {
    width: 122;
    height: 28;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;
    border-radius: 12px;
    background-color: #374151;
}

.email {
    padding-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2%;
    text-align: center;
    color: #F9FAFB;
}

.phone_number {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -2%;
    text-align: center;
    color: #F9FAFB;
}

.footer_end {
    height: 68px;
    background-color: #111827;
    font-family: Inter;
    color: #D1D5DB;
    font-size: 14px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer_end img {
    padding-right: 3px;
    width: 16px;
    height: 16px;
}

@media (max-width: 800px) {
    .header_main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header_main_text h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .header_navigation {
        display: none;
    }

    .menu_icon {
        display: block;
        padding-right: 16px;
    }

    .logo {
        padding-left: 16px;
    }

    .socials {
        padding-bottom: 64px;
        padding-left: 16px;
    }

    .header_main_text {
        padding-left: 16px;
    }

    .geo {
        padding-left: 16px;
    }

    .my_photo {
        margin-right: 0px;
        margin-top: 64px;
        width: 240px;
        height: 280px;
        border: 8px;
    }

    .my_photo2 {
        width: 280px;
        height: 560px;
    }

    .main_about_me {
        width: auto;
        flex-direction: column;
        justify-content: center;
    }

    .technologies p {
        font-size: 18px;
        text-align: center;
        padding: 16px;
    }

    .skills_items {
        gap: 48px;
        justify-content: stretch;
        padding: 16px;

    }

    .main_info {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 32px;
        width: 343px;
    }


    .main_experience_adaptive_reverse {
        gap: 16px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .data {
        display: none;
    }

    .data2 {
        display: block;
    }

    .main_text_sec1 h4 {
        font-size: 18px;
    }


    .main_text_sec1 ul {
        display: flex;
        flex-direction: column;
        width: 279px;
        gap: 4px;
        align-items: flex-start;
        font-style: normal;
    }

    .sect1 {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .sect1_1, .sect2_1, .sect3_1 {
        border-radius: 12px 12px 0px 0px;
    }

    .sect1_2, .sect2_2, .sect3_2 {
        border-radius: 0px 0px 12px 12px;
    }
    
    .sect1_1, .sect1_2 {
        width: 343px;
        height: auto;
    }

    .sect1_1 img{
        height: auto;
        margin-top: 0px;
        padding: 32px;
    }

    .sect1_2 h2, .sect2_2 h2, .sect3_2 h2 {
        font-size: 18px;
    }

    .sect2 {
        width: auto;
        height: auto;
        flex-direction: column;
    }
    
    .sect2_1, .sect2_2 {
        width: 343px;
        height: auto;
    }

    .sect2_1 img{
        width: 279px;
        height: 192px;
    }

    .sect3 {
        width: auto;
        height: auto;
        flex-direction: column;
    }
    
    .sect3_1, .sect3_2 {
        width: 343px;
        height: auto;        
  
    }

    .sect3_1 img{
        width: 279px;
        height: 192px;
    }

    .main_project_stack {
        flex-wrap: wrap;
        width: 279px;
    }

    .sect1_2 img, .sect2_2 img, .sect3_2 img {
        padding-bottom: 32px;
    }
}

